{% extends 'base.html.twig' %}
{% block body %}
	<a class="btn btn-default" href="/blog">Back To Blog</a>
	<hr>
	<div class="panel panel-default">
      <div class="panel-heading">{{post.title}}  <span class="label label-info right">{{post.createDate|date('F j, Y')}}</span></div>
      <div class="panel-body">{{post.content}}</div>
    </div>
{% endblock %}